html
  head
    meta(charset='UTF8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    title=htmlWebpackPlugin.options.title
  body
    #main
    // just some random comments